<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <title>Angular Directives</title>

    <!-- set a different default font -- see body tag in css -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat">

    <!-- application libraries (3rd party css) -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>

    <!-- application main css -->
    <link rel="stylesheet" href="css/ambry-input.css" />

</head>

<body ng-app="app">
    <h1>Ambry Directives</h1>
    <hr>
    <div class="form-group" ng-controller="ContactCtrl as vm">
        <form>
            <div>
                <h5>Ambry Form Directive: Text</h5>
                <ambry-input-text label="First" name="fname" value="mike"></ambry-input-text>
                <ambry-input-text label="Last" name="lname" value="erickson"></ambry-input-text>
                <ambry-input-text label="Address" name="address" value="15611 mayflower lane"></ambry-input-text>
                <ambry-input-text label="City" name="city" value="huntington beach"></ambry-input-text>
                <ambry-input-text label="ST" name="st" ng-model="st"></ambry-input-text>
                <ambry-input-text label="Zip" name="zip" value="92647"></ambry-input-text>

                <button ng-click="test()">Button</button>
            </div>

            <div>
                <h5>Ambry Form Directive: Number</h5>
                <ambry-input-number label="Age" name="age" value="42"></ambry-input-number>
                <ambry-input-number label="Kids" name="kids" value="4"></ambry-input-number>
                <ambry-input-number label="Grandkids" name="grandkids" value="1.5"></ambry-input-number>
            </div>
        </form>
    </div>

    <!-- application libraries (3rd party libs) -->
    <script src="js/lib.min.js"></script>

    <!-- angular directives -->
    <script type="text/javascript" src="js/directives/ambryInputText.js"></script>
    <script type="text/javascript" src="js/directives/ambryInputNumber.js"></script>

    <!-- application js -->
    <script src="js/app.js"></script>

</body>
</html>
